<div class="table table-hover" >
<table align="center"><thead><tr><td>título</td><td>genero</td><td>duración</td><td>sinopsis</td><td></td></tr></thead>
	<tbody>
<% _.each(movies, function(item) { %> 
<tr>
	<td><%= item.title%></td>
	<td><%= item.genre%></td>
	<td><%= item.duration %></td>
	<td><%= item.sinopsis %></td>
	<td class="table-functions">
		<div class="btn-group">
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">acciones <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                  	<a href="/#delete/<%= item.id %>">Eliminar</a>
                  </li>
                  <li>
                  	<a href="/#edit/<%= item.id %>" >Editar</a>
                  </li>
                </ul>
              </div>
	
	
	</td>
</tr>
<% }); %>
</tbody>
<tfoot><td colspan="5"></td></tfoot>
</table>
</div>